// Breakpoints
$lg: 991px;
$med: 768px;
$sm: 575px;
// @media all and (max-width: $lg) {  } 
// @media all and (max-width: $med) {  } 
// @media all and (max-width: $sm) {  }
// Colours & fonts
$bg : #0D1317;
$ff: 'Overpass Mono';
 $blue: #0300FF; //Original
$white: #F7FFF7; // Mint cream
$accent: #246EB9;
$grey: #A2A7A5; // OG Grey


body {
    margin: 0;
    padding: 0;
    background: $bg;
    -webkit-font-smoothing: antialiased;
    font-family: $ff, monospace;
    text-shadow: 0.1px 0.1px 0.1px rgba(0,0,0,0.25);
}

.anchor {
    height: 55px;
    display: block;
    margin-top: -55px;
    visibility: hidden;
}

.expand {
    background: transparent;
    border: 0;
    & img {
        width: 15px;
        height: 15px;
    }
}

.scrolling {
    color: $white;
    width: calc(400px + 7.5%);
    text-align: center;
    @media all and (max-width: $med) {
        width: 75%;
        text-align: left;
    }
    @media all and (max-width: $sm) {
        width: 80%;
        text-align: left;
    }
}

.highlight-word {
    color: $accent;
}

.autoscroll {
    color: $white;
    position: absolute;
    text-decoration: none;
    bottom: 0;
}

#landing-hero {
    height: 100vh;
    width: 100vw;
    background: $bg;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    & a {
        margin: 1%;
    }
}

nav {
    background: $bg;
    height: 45px;
    color: $white;
    width: 100%;
    display: flex;
    align-items: center;
}

nav a {
    color: $white;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
}

.navbar {
    padding-left: 7.5%;
    width: 100%;
    display: flex;

    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;

    
    @media all and (max-width: $sm) {
        font-size: 11px;
    }

    & span {
        color: $white;
        margin-left: auto;
        margin-right: 2%;
    }
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.wrapper {
    background: $white;
    display: flex;
    flex-flow: column wrap;
}

.date {
    @media all and (max-width: $med) {
        margin-bottom: 3%;
    }
    @media all and (max-width: $sm) {
        margin-bottom: 3%;
    }
}

.projects {
    background: $white;
    position: relative;
    width: 100%;
    min-height: 400px;
    max-height: 100%;
    & h3 {
        margin: 2% 7.5% 1%;
        color: $blue;
    }
    & img {
        width: 100%;
        height: 80%;
    }
}

.project-image {
    img {
        opacity: 0.6;
    }
}

.project-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: inherit;
    margin-bottom: 2%;
    @media all and (max-width: $med) {
        flex-flow: column wrap;
        margin-bottom: 2.5%;
    }
    @media all and (max-width: $sm) {
        flex-flow: column wrap;
        margin-bottom: 3%;
    }
}

.project-item {
    margin: 1em;
    margin-bottom: 3.5%;
    min-height: 300px;
    width: 45%;
    display: flex;
    flex-flow: column nowrap;
    & p {
        color: $blue;
        margin: 5px;
        width: 70%;
    }

    @media all and (max-width: $med) {
        width: 80%;
    }
    @media all and (max-width: $sm) {
        width: 80%;
    }
}

.project-text {
    display: flex;
    flex-flow: row wrap;
    & .proj-expand {
        background: $blue;
        height: auto;
        width: 100%;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        transition: all 0.65s ease-in;
        &.inactive {
            height: 0;
            opacity: 0;
            // display: none;
        }
        &.active {
            // visibility: visible;
            height: 250px;
            opacity: 1;
        }
        & p {
            width: 95%;
            color: $white;
        }
    }
}

.expand {
    margin-left: auto;
    margin-top: 2.5%;
    margin-right: 2.5px;
    & img {
        height: 20px;
        width: 20px;
    }
    &:hover {
        cursor: pointer;
    }
}

.cta {
    color: $white;
    background: $blue;
    border: 2px solid $white;
    bottom: 0;
    margin: 3%;
    position: absolute;
    &:hover {
        color: $blue;
        background: $white;
        border: 2px solid $white;
    }
}

h3 {
    width: 40%;
    padding-top: 5px;
    @media all and (max-width: $med) {
        width: 70%;
        margin: 2%;
    }
    @media all and (max-width: $sm) {
        width: 75%;
        margin: 2%
    }
}

.border {
    width: 25%;
    margin: 0;
    height: 4%;
    border: 1px white;
    background: $white;
    left: 0;
    bottom: 0;
    position: absolute;
    @media all and (max-width: $med) {
        height: 4%;
    }
    @media all and (max-width: $sm) {
        height: 2%;
    }
    &.skills {
        background: $white;
        width: 20%;
    }
    &.edu {
        width: 17.5%;
        top: 0;
        background: $grey;
        @media all and (max-width: $med) {
            height: 2.5%;
        }
        @media all and (max-width: $sm) {
            height: 1.5%;
        }
    }
    &.proj {
        background: $grey;
        width: 35%;
        height: 4%;
        @media all and (max-width: $med) {
            height: 2.5%;
        }
        @media all and (max-width: $sm) {
            height: 2%;
        }
    }
    &.foot {
        background: $bg;
        width: 17.5%;
    }
}

.footer {
    min-height: 125px;
    width: 100%;
    background: $bg;
    display: flex;
    flex-flow: column nowrap;
    & h3 {
        color: $white;
        margin: 2.5% 5% 1%;
    }
    & p {
        text-align: left;
        background: $white;
        color: $bg;
        width: 40%;
        margin: 3.5% 7.5% 1%;
        @media all and (max-width: $med) {
            width: 75%;
            margin: 5% 2.5% 1%;
        }
        @media all and (max-width: $sm) {
            width: 80%;
            margin: 5% 7.5% 1%;
        }
    }
    & a {
        text-decoration: none;
    }
    & .copyright {
        display: inline;
        text-align: center;
    }
}

.content {
    background: $blue;
    width: 100%;
    min-height: 250px;
    height: 350px;
    position: relative;
    @media all and (max-width: $med) {}
    @media all and (max-width: $sm) {}

    & .list-p {
        margin-bottom: 7%;
    }

    &.grey {
        background: $grey;
        color: $bg;
        & p {
            background: $white;
            color: $grey;
            &.date {
                color: $white;
            }
        }
        & ul {
            background: $white;
            color: $grey;
        }
    }
    &.blue {
        background: $blue;
        color: $white;
        & p {
            background: $white;
            color: $blue;
            &.date {
                color: $white;
            }
        }
    }
    &.white {
        background: $white;
        color: $bg;
        & p {
            background: $bg;
            color: $white;
            &.date {
                color: $bg;
            }
        }
        & h3 {
            color: $bg;
        }
    }
    & p {
        width: 60%;
        margin: 2% 7.5% 2.5%;
        text-align: left;
        word-wrap: break-word;
        @media all and (max-width: $med) {
            width: 82.5%;
        }
        @media all and (max-width: $sm) {
            width: 82.5%;
        }
        &.date {
            background: none;
        }
        
    }
    & h3 {
        color: $white;
        margin: 2% 7.5% 1%;
        @media all and (max-width: $med) {
            margin: 4% 7.5% 1%;
        }
        @media all and (max-width: $sm) {
            margin: 4% 7.5% 1%;
        }
    }
}

.icon-set {
    width: 30%;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    margin-top: 1%;
}

.dev-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    line-height: 1.5em;
    margin-left: 10%;
    margin-top: 3.5%;
    & ul {
        list-style-type: none;
        width: 100%;
    }
    & li {
        display: inline;
        margin: 2%;
    }
    @media all and (max-width: $med) {
        margin-left: 3.5%;
        margin-top: 10%;
        width: 90%;
        text-align: center;
        i {
            font-size: 3em;
        }
        & li {
            margin: 1.5%;
        }
        & ul {
            margin: none;
        }
    }
    @media all and (max-width: $sm) {
        margin-left: 3.5%;
        margin-top: 10%;
        width: 90%;;
        text-align: center;
        i {
            font-size: 2.5em;
        }
        & li {
            margin: 1.5%;
        }
        & ul {
            margin: none;
        }
    }
}

i {
    font-size: 4em;

    &.icon {
        font-size: 1.75em;
    }
}



.icon {
    fill: #fff;
    width: 24px;
    height: 24px;    
    margin: 0.5%;

    &:hover {
        cursor: pointer;
    }

    @media all and (max-width: $sm) {
        width: 16px;
        height: 16px;
    }

}

.footer-icons {
    margin: 1%;

    & a {
        color: white;
        text-decoration: none;
    }
}

#icons-panel {
    height: 300px;
}

#services-panel {
    @media all and (max-width: $sm) {
        height: 550px;
    }
}

.contact-icons {
    margin-bottom: 1.5%;

    & a {
        color: white;
        text-decoration: none;
    }
}
